<a href="https://colab.research.google.com/github/Baburam-Ch/data-science-code-snippets/blob/master/Numpy_and_Pandas_Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task of Numpy and Pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
path = "/content/drive/MyDrive/Colab Notebooks/tips.csv"
df = pd.read_csv(path)

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## **Question 1: Get all column names**

In [ ]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

## **Question 2: Get statistics summary of the dataframe**

In [ ]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

## **Question 3: Display top 2 rows and bottom 10 rows**

In [ ]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [ ]:
df.tail(10)

     total_bill   tip     sex smoker   day    time  size
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

## **Question 4: Find total number of records**

In [ ]:
df.count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

In [ ]:
df['total_bill'].count()

244

In [ ]:
len(df)

244

## **Question 5: Check data type of each columns**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [ ]:
df.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

## **Question 6: Check if any columns contains null values**

In [ ]:
df.isnull()

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [ ]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [ ]:
df.isnull().count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

In [ ]:
df.isna()

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [ ]:
df.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

## **Question 7: Find total bill amount**

In [ ]:
df['total_bill'].sum()

4827.77

In [ ]:
np.sum(df['total_bill'].values)

4827.77

In [ ]:
df.loc[:,'total_bill'].sum()

4827.77

## **Question 8: Find average tip amount and group size**

In [ ]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
df['tip'].mean()

2.9982786885245902

In [ ]:
df['size'].mean()

2.569672131147541

In [ ]:
np.mean(df['tip'])

2.9982786885245902

## **Question 9: Find maximum tip amount**

In [ ]:
max(df['tip'])

10.0

In [ ]:
df['tip'].max()

10.0

## **Question 10: Find max group size and bill amount**

In [ ]:
df['size'].max()

6

In [ ]:
df['total_bill'].max()

50.81

## **Find total number of male and female customers**

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
df['sex'].isin(['Female']).sum()

87

In [ ]:
(df['sex'] == 'Female').sum()

87

In [ ]:
df['sex'] == 'Female'

0       True
1      False
2      False
3      False
4       True
       ...
239    False
240     True
241    False
242    False
243     True
Name: sex, Length: 244, dtype: bool

In [ ]:
(df['sex'] == 'Male').sum()

157

In [ ]:
df['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [ ]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

## **Find total bill by time and sex**

In [ ]:
# By time

In [ ]:
df.groupby(df['sex'])['total_bill'].sum()

sex
Female    1570.95
Male      3256.82
Name: total_bill, dtype: float64

In [ ]:
df.groupby(df['time'])['total_bill'].sum()

time
Dinner    3660.30
Lunch     1167.47
Name: total_bill, dtype: float64

In [ ]:
df.groupby(df['sex'])['total_bill'].sum().T

sex
Female    1570.95
Male      3256.82
Name: total_bill, dtype: float64

In [ ]:
df.groupby('time').sum().T

time         Dinner    Lunch
total_bill  3660.30  1167.47
tip          546.07   185.51
size         463.00   164.00

In [ ]:
df.groupby('sex').sum().T

sex          Female     Male
total_bill  1570.95  3256.82
tip          246.51   485.07
size         214.00   413.00

## **Find the row with maximum tip value**

In [ ]:
df['tip'].max()

10.0

In [ ]:
df[df['tip'] == df['tip'].max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [ ]:
df[df['tip'] == max(df['tip'])]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [ ]:
#### df[filter] # filter is boolean value

In [ ]:
df['tip'] == df['tip'].max()

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Name: tip, Length: 244, dtype: bool

## **Find the row with max tip by male and max tip by female**

In [ ]:
male = df[df['sex'] == 'Male']
male

     total_bill   tip   sex smoker  day    time  size
1         10.34  1.66  Male     No  Sun  Dinner     3
2         21.01  3.50  Male     No  Sun  Dinner     3
3         23.68  3.31  Male     No  Sun  Dinner     2
5         25.29  4.71  Male     No  Sun  Dinner     4
6          8.77  2.00  Male     No  Sun  Dinner     2
..          ...   ...   ...    ...  ...     ...   ...
236       12.60  1.00  Male    Yes  Sat  Dinner     2
237       32.83  1.17  Male    Yes  Sat  Dinner     2
239       29.03  5.92  Male     No  Sat  Dinner     3
241       22.67  2.00  Male    Yes  Sat  Dinner     2
242       17.82  1.75  Male     No  Sat  Dinner     2

[157 rows x 7 columns]

In [ ]:
df['tip'] == df['tip'].max()

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Name: tip, Length: 244, dtype: bool

In [ ]:
male[male['tip'] == male['tip'].max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [ ]:
f_df = df[df['sex'] == 'Female']

In [ ]:
f_df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]

In [ ]:
f_df[f_df['tip'] == f_df['tip'].max()]

     total_bill  tip     sex smoker  day    time  size
214       28.17  6.5  Female    Yes  Sat  Dinner     3